div{
    border: 1px solid black;
}



#main{
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.fc{
    display: flex;
}

.fc .column_fc{
    flex-direction: column;
}

.fc .row_fc{
    flex-direction: row;
}

.fc .standard_fc{
    gap: 5px;
    padding: 5px;
}

.fc .center_fc{
    justify-content: center;
}