#top-bar{
    height: 100px;
}

.info-container{
    display: flex;
    flex-direction: row;
    width: 500px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container p{
    margin: 5px;
}

.status-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin-left: auto;
}
.status-container p{
    margin: 5px;
    text-align: center;
}




.version-bar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.version-fileslist-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.version-file-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.version-add-container {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}



.document-bar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.document-fileslist-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.document-file-container{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 250px;
}

.document-add-container{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 250px;
}