/* 
ds = document-specific
c = container 

All special stylings for elements from a certain document go here
*/


div{
    border: 1px solid black;
}

#main{
    gap: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}



#info-container{
    width: 500px;
}

#status-container{
    justify-content: center;
    margin-left: auto;
}
#status-container p{
    text-align: center;
}


.ds_c-version_element {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}


.ds_c-document_element{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 250px;
}

