.f0131-scene {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f0131-main_container {
    height: 100%;
    width: 100%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}