/* 
gs = global standard
fc = flex-container 

All flex-containers for nesting etc. go here
*/

.fc{
    display: flex;
}

.fc_column{
    flex-direction: column;
}

.fc_row{
    flex-direction: row;
}

.fc_standard{
    gap: 5px;
    padding: 5px;
}

.fc_wrap{
    flex-wrap: wrap;
}

.fc_center{
    align-items: center;
    justify-content: center;
}