.page{
    height: 900px;
    width: 800px;
    padding: 5px;
    border: 1px solid black;
}

.page1{
    background-color: aquamarine;
}

.page2{
    background-color: aquamarine;
}

.interview_item_container{
    width: 100%;
    height: 250px;
}

.interview_item_answer_container{
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.interview_item_answer_container p{
    line-break: normal;
}

div{
    border: 1px dotted blue;
}